body{
    overflow-x: hidden;
    color: #ffffff;
    width: 100%;
    font-family: sans-serif;
}

.top_bar{
    margin-left: -600px;
    margin-right: -600px;
    padding: 1.3em  600px;
    width: 100%;
    font-family: sans-serif;
    font-size: 1 em;
    font-weight: bold;
    color: white;
    background:#00cccc;
}

p{
    font-family: sans-serif;
    font-size: smaller;
}

p > #lo{
    margin-left: 400px;
}

.login_panel{
margin-top:100px;
border-style: solid;
border-width:thin;
border-color:   darkgray;
border-radius: 4px;
margin-left: auto;
margin-right:auto;
width:220px;
}

