
/* 
    Created on : Feb 10, 2015, 11:25:10 PM
    Author     : kelli
*/
p{
    font-family: sans-serif;
    font-size: smaller;
    color: cadetblue;
}

body{
    margin-left:  100px;
    margin-right: 100px;
    background: #ffffff;
}



#nav-bar{
    background: burlywood;
    width:available;
    height: 35px;
    font-family: sans-serif;
    font:bolder;
    font-size: x-large;
    color: darkolivegreen;
    padding-top: 10px;
    padding-left: 30px;
}

.top_bar{
    margin-left: -100px;
    margin-right: -100px;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.56em;
    color: white;
    background:activecaption;
}


#spacer{
    margin: 4px;
    padding: 2px;
}
